.icon{
	position: absolute;
	width: 120px;
	height: 150px;
	z-index: 6;
	-webkit-user-select: none;

	/* animations */
	-webkit-transform-origin: 50% 50%;
	-webkit-transition: -webkit-transform 0.2s;
}

.icon .delete{
	position: absolute;
	left: -11%;
	top: -11%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #D8D8D8;
	z-index: 8;
	opacity: 0.9;
	visibility: hidden;

	-webkit-transform-origin: 50% 50%;
	-webkit-transform: scaleX(1) scaleY(1);
	-webkit-transition: -webkit-transform 0.2s;
}

.icon .delete p{
	position: relative;
	top: -32%;
	color: #1C1C1C;
	text-align: center;
	font-weight: thick;
	font-family: Helvetica;
	font-size: 20px;
} 

.icon .banner{
	position: absolute;
	left: 78%;
	top: -10%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #DF0101;
	z-index: 8;
	visibility: hidden;
}

.icon .banner p{
	position: relative;
	top: -32%;
	color: #fff;
	text-align: center;
	font-weight: thick;
	font-family: Helvetica;
	font-size: 20px;
}

.icon .image{
	position: relative;
	margin: 1px auto;
	width: 120px;
	height: 120px;
	border-radius: 20%;
	z-index: 7;
}

.icon .image img{
	width: 100%;
	height: 100%;
}

.icon .title{
	position: relative;
	width: 100%;
}

.icon .title p{
	margin: 5% 0;
	text-align: center;
	color: #fff;
	font-size: 1.4em;
	font-family: Helvetica;
}

.touch{
	opacity: 0.8;
}

.toggleDelete{
	-webkit-transform: scaleX(1) scaleY(1);
}

.selected{
	-webkit-transform: scaleX(1.2) scaleY(1.22);
	z-index: 10;
	cursor: move;
}

.jiggle{
	-webkit-animation: jiggle 0.3s infinite;
	cursor: move;
}

@-webkit-keyframes jiggle {
	0%		{-webkit-transform: rotate(2deg) translateX(1.5px) translateY(1px);}
	25%		{-webkit-transform: rotate(0deg) translateX(-1.5px) translateY(-1px);}
	50%		{-webkit-transform: rotate(-2deg) translateX(1.5px) translateY(1px);}
	75%		{-webkit-transform: rotate(0deg) translateX(-1.5px) translateY(-1px);}
	100%	{-webkit-transform: rotate(2deg) translateX(1.5px) translateY(1px);}
}