.tile{
	position: absolute;
	z-index: 6;
	display: inline-block;

	-webkit-user-select: none;
	-webkit-transform-origin: 50% 50%;

	user-select: none;
	transform-origin: 50% 50%;
}

.tile .image{
	width: 100%;
	height: 100%;
	z-index: 7;

	-webkit-transform: perspective(600px);
	transform: perspective(600px);
}

.tile .image figure{
	position: absolute;
	margin: 0 0;
	padding: 0 0;
	width: 100%;
	height: 100%;

	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 2s;

	transform-style: preserve-3d;
	transition: transform 2s;
}

/*----- for more than one image tile -----*/

.multiple .image figure{
	width: 50%;
	height: 50%
}

.multiple .image .first{
	top: 0;
	left: 0;
}

.multiple .image .second{
	top: 0;
	left: 50%;
}

.multiple .image .third{
	top: 50%;
	left: 0;
}

.multiple .image .fourth{
	top: 50%;
	left: 50%;
}

/* add .multiple .image. fifth and so on to increase the number of tiles */
/* also change the .multiple .image figure width and height ratio according to new number of tiles */ 

/*-----------------------------*/

.tile .image figure div{
	position: absolute;
	width: 100%;
	height: 100%;

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tile .image figure .front{
	background: #aaa;
	background-size: 100%;
}

.tile .image figure .back{
	background: #aaa;
	background-size: 100%;

	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.tile .title{
	margin: 0 0;
	position: relative;
	top: -20%;
	z-index: 8;
}

.tile .title p{
	margin: 0 0;
	color: #000;
	font-size: 1.8em;
	font-family: "Helvetica";
	text-align: right;
}

.rotateX{
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

.rotateXX{
	-webkit-transform: rotateX(-360deg);
	transform: rotateX(-360deg);	
}

.rotateY{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.rotateYY{
	-webkit-transform: rotateY(360deg);	
	transform: rotateY(360deg);
}