.tile{
	position: absolute;
	z-index: 6;

	-webkit-user-select: none;
	-webkit-transform-origin: 50% 50%;
}

.tile .image{
	width: 100%;
	height: 100%;
	z-index: 7;

	-webkit-transform: perspective(600px);
}

.tile .image figure{
	position: absolute;
	margin: 0 0;
	padding: 0 0;
	width: 100%;
	height: 100%;

	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 2s;
}

/*----- for more than one image tile -----*/

.multiple .image figure{
	width: 50%;
	height: 50%
}

.multiple .image .first{
	top: 0;
	left: 0;
}

.multiple .image .second{
	top: 0;
	left: 50%;
}

.multiple .image .third{
	top: 50%;
	left: 0;
}

.multiple .image .fourth{
	top: 50%;
	left: 50%;
}

/*-----------------------------*/

.tile .image figure div{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
}

.tile .image figure .front{
	background: grey;
	background-size: 100%;
}

.tile .image figure .back{
	background: #000;
	background-size: 100%;
	-webkit-transform: rotateX(180deg);
}

.tile .title{
	position: relative;
	top: -30%;
	left: 50%;
	z-index: 8;

	opacity: 0;
}

.tile .title p{
	color: #000;
	font-size: 1.4em;
	font-family: "Helvetica";
}

.rotateX{
	/*-webkit-animation: rotX 2s;
	-webkit-animation-fill-mode: forwards;*/
	-webkit-transform: rotateX(-180deg);
}

.rotateXX{
	-webkit-transform: rotateX(-360deg);	
}

.rotateY{
	/*-webkit-animation: rotY 2s;
	-webkit-animation-fill-mode: forwards;*/
	-webkit-transform: rotateY(180deg);
}

.rotateYY{
	-webkit-transform: rotateY(360deg);	
}

@-webkit-keyframes rotX{
	0% 		{-webkit-transform: rotateX(0deg);}
	100%	{-webkit-transform: rotateX(180deg);}
}

@-webkit-keyframes rotY{
	0% 		{-webkit-transform: rotateY(0deg);}
	100%	{-webkit-transform: rotateY(180deg);}
}